
fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
}
legend {
    font-size: 10pt;
    font-weight: bold;
}

label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}